{% extends 'base.html.twig' %}

{% block title %} My homepage Woo {% endblock %}

{% block body %}
<h1>myhomepage1</h1>
<div>
    Browse through {{ numberStarships * 10 }} starts
</div>

{% if (numberStarships > 30) %}
<div>
    <p>over 30 </p>
</div>
{% endif %}

{% endblock %}